<template>
  <v-flex xs12 my-1>
    <v-card tile>
      <v-layout
        row
        wrap>
        <v-flex xs12 sm6>
          <v-layout
            row
            wrap
            align-center
            fill-height>
            <v-flex xs12 sm2>
              <v-avatar tile>
                <img :src="require(`@/assets/img/${imageFile}`)" alt="avatar">
              </v-avatar>
            </v-flex>
            <v-flex xs12 sm10>
              <v-layout
                row
                wrap
                fill-height>
                <v-flex xs12 tag="div" class="body-2">{{ description }}</v-flex>
                <v-flex xs12 tag="span" class="caption">{{ subTitle }}</v-flex>
              </v-layout>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 sm5>
          <v-layout
            row
            wrap
            align-center
            fill-height>
            <v-flex xs12 sm4 my-1 class="text-xs-center">
              <span>R {{ price.toFixed(2) }}</span>
            </v-flex>
            <v-flex xs12 sm4 my-1 class="text-xs-center">
              <input
                type="text"
                size="2"
                class="pa-1"
                :value="quantity"
                disabled
                maxlength="2">
            </v-flex>
            <v-flex xs12 sm4 my-1 class="text-xs-center">
              <span>{{ calcTotal.toFixed(2) }}</span>
            </v-flex>
          </v-layout>
        </v-flex>
        <v-flex xs12 sm1>
          <v-layout
            row
            align-center
            justify-end
            fill-height>
              <v-btn
                small
                fab
                flat
                @click="removeItem(idx)">
                <v-icon color="error">delete</v-icon>
              </v-btn>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-card>
    <v-divider></v-divider>
  </v-flex>
</template>

<script>
import { mapActions } from 'vuex'
import NumberPicker from '@/components/utils/NumberPicker'

export default {
  components: {
    NumberPicker
  },
  props: {
    imageFile: {
      type: String,
      default: 'apples.jpg'
    },
    description: {
      type: String,
      default: 'Product description'
    },
    subTitle: {
      type: String,
      default: 'Subtitle'
    },
    quantity: {
      type: Number,
      required: true
    },
    price: {
      type: Number,
      required: true
    },
    total: {
      type: Number,
      required: false
    },
    idx: {
      type: Number,
      required: true
    }
  },
  computed: {
    calcTotal () {
      return this.quantity * this.price
    }
  },
  methods: {
    imagePath () {
      return require(`@/assets/img/${this.imageFile}`)
    },
    ...mapActions('cart', ['removeItem'])
  }
}
</script>

<style lang="scss" scoped>
  input {
        border: 2px solid #757575;
        border-radius: 4px;
        text-align: center;
        &:focus {
            outline-offset: -2px;
        }
    }
</style>
