<template>
    <v-badge v-model="showQty">
        <template
            v-slot:badge>
            <span>{{ itemsInCart }}</span>
        </template>
        <v-icon color="grey darken-1">shopping_cart</v-icon>
    </v-badge>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters('cart', ['itemsInCart']),
    showQty () {
      return (this.itemsInCart > 0)
    }
  }
}
</script>
