<template>
  <v-flex xs12 sm5 md4 ma-2>
    <v-card tile>
      <v-img
        height="200px"
        :src="imagePath()">
      </v-img>
      <v-card-title>
        <v-layout row wrap align-center>
          <v-flex xs9>
            <div class="subheading">{{ prodName }}</div>
            <div class="caption grey--text text--darken-1">{{ prodInfo }}</div>
          </v-flex>
          <v-flex xs3>
            <div class="text-xs-center title green--text text--darken-1">R{{ prodPrice.toFixed(2) }}</div>
          </v-flex>
        </v-layout>
      </v-card-title>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn
          color="primary"
          :to="prodLink">View</v-btn>
      </v-card-actions>
    </v-card>
  </v-flex>
</template>

<script>
export default {
  props: [
    'prodName',
    'prodInfo',
    'prodPrice',
    'prodLink',
    'prodImage'
  ],
  methods: {
    imagePath () {
      return require(`@/assets/img/${this.prodImage}`)
    }
  }
}
</script>
