<template>
    <v-layout
      row
      fill-height
      align-center
      justify-center>
      <v-flex xs12 sm10 md8>
        <v-card flat color="rgba(0,0,0,0)">
          <v-layout
            row
            wrap>
            <v-flex xs12 sm5>
              <v-img
                class="h-100"
                :src="require(`@/assets/img/${product.image}`)"></v-img>
            </v-flex>
            <v-flex xs12 sm7>
              <v-container>
                <v-layout
                row
                wrap
                align-center
                justify-space-between>
                  <v-flex xs8 mb-3>
                    <div
                      class="headline">{{ product.name }}</div>
                    <span
                      class="caption grey--text text--darken-1">{{ product.shortDescription }}</span>
                  </v-flex>
                  <v-flex xs4 mb-3 class="text-xs-center">
                    <span
                      class="green--text text--darken-1 headline">R{{ product.price.toFixed(2) }}</span>
                  </v-flex>
                  <v-flex xs12 mb-4>
                    <p>{{ product.fullDescription }}</p>
                  </v-flex>
                  <v-flex xs12>
                    <v-layout
                      row
                      wrap
                      align-center
                      justify-center>
                      <v-flex xs12 md6 mb-3 class="center">
                        <number-picker v-model="itemQuantity"/>
                      </v-flex>
                      <v-flex xs12 md6 mb-3 class="center">
                        <v-btn
                          color="primary"
                          @click="add(itemQuantity)">Add to cart</v-btn>
                      </v-flex>
                    </v-layout>
                  </v-flex>
              </v-layout>
              </v-container>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>

      <v-snackbar
        v-model="snackbar"
        :top="true"
        :timeout="2000"
        color="success">
        <span>{{ itemQuantity }} x {{ product.name }}(s) added to cart</span>
      </v-snackbar>

    </v-layout>
</template>

<script>
import { mapActions } from 'vuex'
import NumberPicker from '@/components/utils/NumberPicker'

export default {
  components: {
    NumberPicker
  },
  data: () => ({
    itemQuantity: 1,
    snackbar: false
  }),
  computed: {
    product () {
      return this.$store.getters['products/productDetail'](this.$route.params.id)
    }
  },
  methods: {
    ...mapActions('cart', [
      'addToCart'
    ]),
    add (prodQty) {
      this.addToCart({
        id: this.product.id,
        image: this.product.image,
        descriptionLong: this.product.name,
        descriptionShort: this.product.shortDescription,
        qty: prodQty,
        price: this.product.price
      })
      this.snackbar = true
    }
  }
}
</script>

<style lang="scss" scoped>

  .price {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .h {
    &-100 {
      height: 100%;
    }
  }

</style>
