<template>
  <v-app>
    <v-navigation-drawer
      temporary
      absolute
      v-model="showNavDrawer">
      <v-list>
        <v-list-tile
          v-for="(item, index) in menu"
          :key="'navd_' + index + '_' + item.title"
          :to="item.link">
            <v-list-tile-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>{{ item.title }}</v-list-tile-content>
          </v-list-tile>
          <v-divider></v-divider>
          <v-list-tile
            to="/cart"
            class="py-3">
            <v-list-tile-action>
              <cart-icon/>
            </v-list-tile-action>
            <v-list-tile-content>View Cart</v-list-tile-content>
          </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app>
      <v-toolbar-side-icon
        class="hidden-sm-and-up"
        @click="showNavDrawer =! showNavDrawer"></v-toolbar-side-icon>
      <v-spacer class="hidden-sm-and-up"></v-spacer>
      <v-toolbar-title class="headline text-uppercase">
        <router-link to="/" tag="span" style="cursor: pointer">Simple Shop</router-link>
      </v-toolbar-title>
      <v-toolbar-items class="hidden-xs-only ml-5">
        <v-btn
          active-class=""
          v-for="(item, index) in menu"
          :key="'mnu_' + index + '_' + item.title"
          flat
          router
          :to="item.link">{{ item.title }}</v-btn>
      </v-toolbar-items>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-xs-only">
        <v-btn
        active-class=""
        flat
        router
        to="/cart">
          <cart-icon/>
        </v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <router-view/>
    </v-content>

    <v-footer
      height="auto"
      color="green darken-1">
      <v-layout
        justify-center
        row
        wrap>
          <router-link
            tag="div"
            style="cursor: pointer"
            class="mx-2 my-3 text-uppercase white--text"
            v-for="(item, index) in menu"
            :key="'ftr_' + index + '_' + item.title"
            :to="item.link">{{ item.title }}</router-link>
          <v-flex
            xs12
            pa-1
            grey
            darken-3
            caption
            white--text
            text-xs-center>&copy;2019 — <strong>Simple Shop</strong></v-flex>
        </v-layout>
    </v-footer>
  </v-app>
</template>

<script>
import CartIcon from './components/cart/CartIcon'

export default {
  name: 'App',
  components: {
    CartIcon
  },
  data: () => ({
    showNavDrawer: false,
    menu: [
      { title: 'Products', icon: 'card_giftcard', link: '/products' },
      { title: 'About', icon: 'info', link: '/about' }
    ]
  })
}
</script>
